<!-- Footer Signup Form -->
<div class="footer__singup-form clearfix">
  <div class="wrapper">
    {% if settings.footer_newsletter_enable %}
    <div class="signup-form-wrapper">
      <h4>Get the Latest Deals & More</h4>
      {% if settings.newsletter_form_action != blank %}
        <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
          <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
          <span class="input-group-btn">
            <input type="submit" class="btn" name="subscribe" id="subscribe" value="Sign Up">
          </span>
        </form>
      {% else %}
        {% form 'customer' %}
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
          {% else %}
            <div class="input-group">
              <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <span class="input-group-btn">
                <input type="submit" class="btn" name="subscribe" id="subscribe" value="Sign Up">
              </span>
            </div>
          {% endif %}
        {% endform %}
      {% endif %}

    </div>
    {% endif %}
  </div>
</div>
<!-- /Footer Signup Form -->