<div class="site__header-wrapper clearfix">
  <div class="wrapper">
    <div class="clearfix">
      <div class="site__header-categories">
        {% include 'header-side-category' %}
      </div>
      <div class="site__header-banner">
        <div class="hero-mainslider hero-wrap">
          <div class="hero">
            <div class="hero-banner swiper-container">
              <ul class="swiper-wrapper">
                {% for i in (1..5) %}
                  {% capture slider_img %}home_slider_{{i}}{% endcapture %}
                  {% capture slider_link %}home_slider_link_{{i}}{% endcapture %}
                  
                  {% if settings[slider_img] != blank %}
                    <li class="swiper-slide"><a href="{{settings[slider_link]}}" data-img="{{ settings[slider_img] }}"><img src="{{ settings[slider_img] | img_url: 'master' }}" /></a></li>
                  {% endif %}
                {% endfor %}
              </ul>

              <div class="hero-banner-buttons">
                <div class="fa fa-chevron-left swiper-button-prev"></div>
                <div class="fa fa-chevron-right swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="site__home-bottom-ads">
          <ul>
            {% for i in (1..3) %}
            {% capture bb_img %}bottom_banner_{{i}}{% endcapture %}
            {% capture bb_link %}bottom_banner_link_{{i}}{% endcapture %}
            <li><a href="{{settings[bb_link]}}"><img src="{{ settings[bb_img] | img_url: 'master' }}" /></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="site__home-right-ads">
        {% for i in (1..3) %}
        {% capture rb_img %}right_banner_{{i}}{% endcapture %}
        {% capture rb_link %}right_banner_link_{{i}}{% endcapture %}
        <a href="{{settings[rb_link]}}"><img src="{{ settings[rb_img] | img_url: 'master' }}" /></a>
        {% endfor %}
      </div>
    </div>

  </div>
</div>