<div class="featured__products-title">
  <h2>{{ 'homepage.sections.featured_products_title' | t }}</h2>
</div>
<div class="featured__products-wrapper">
  {% if settings.featured_collection != blank and collections[settings.featured_collection].handle == settings.featured_collection and collections[settings.featured_collection].products_count > 0 %}
  <div class="featured__products-content owl-carousel clearfix">
    {% for product in collections[settings.featured_collection].products | limit: 9 %}
    {% include 'product-featured-loop' %}
    {% endfor %}
  </div>
  {% elsif collections.[settings.featured_collection].handle == 'frontpage' and collections.frontpage.products_count < 1 %}
  <div>
    <p>{{ 'homepage.sections.no_frontpage_products_html' | t }}</p>
  </div>
  {% elsif settings.featured_collection != blank and collections[settings.featured_collection].handle != 'frontpage' and collections[settings.featured_collection].products_count < 1 %}
  <div>
    <p>{{ 'homepage.sections.no_products_html' | t }}</p>
  </div>
  {% else %}
  <div>
    <p>{{ 'homepage.sections.no_featured' | t }}</p>
  </div>
  {% endif %}
  <div class="featured__product-view clearfix hide">
    <a href="/collections/{{ settings.featured_collection }}">
      View More
      {% include 'icon-arrow-right' %}
    </a>
  </div>
</div>